<h1>Secrets#maker</h1>
<p>Find me in app/views/secrets/maker.html.erb</p>

<%= form_tag(:action => "show") do %>
<%= text_area :page, :text ,:size => "20x10", :maxlength => "20" %>
<%= submit_tag "作成" %>
<% end %>
<%= link_to 'Decode', 'decode' %>

