<div class="inputs">
	<div class="element">
		<div class="sentence">
 			<%= form_tag(:action => "show") do %>
  		text<br>
  		<%= text_area :page, :text ,:size => "40x10", :maxlength => "20" %>
	 	</div>
		<div class="submit">
		  <%= submit_tag "submit" %>
		</div>
	  <% end %>
	</div>
</div>


