<div class="title">
<%= @title %>
</div>
<div class="infomation">
	<%= form_tag(:action => "show") do %>
		text<br>
		<%= text_area_tag :page, @comtent %>
		<br>password<br>
		<%= @passwd%><br>
	
	<% end %>
</div>
