/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  line-height:1.4;
  color:#333;
  font-family:'Lucida Grande',
   'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
   Meiryo, メイリオ, sans-serif;
  font-size:0.9em;
  background-color: #FFFFF0;
}
.maintitle{
  margin-top: 50px;
  margin-bottom: 30px ;
  font-size:1.5em;
  font-weight: 800;
  text-align: center; 
}
.title {
  font-size:1em;
}
.inputs {
    /*border: 1px solid #FF00FF;
  */  width: 100%;
}
.element {
    border: 1px solid #FF0000;
    width: 30%;
    margin:0 auto 0 auto;
}
.sentence{
  font-size:1.4em;
}
.condition {
    border: 1px solid #FF0000; 

}
.submit {
    border: 1px solid #FF0000; 
}
.infomation {
  border: 1px solid #FF0000; 
  text-align: center; 
  width: 30%;
  margin:0 auto 0 auto;
}
 